<footer class="footer">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}<br>
                    <i>Portrait photo taken with <a href="https://giddazhang.github.io/">Jida</a>.</i>
                </div>
            </div>
        </div>
    </div>
</footer>
