---
layout: default
---


<link rel="stylesheet" href="{{ '/assets/css/highlight/catppuccin-latte.css' | relative_url }}">
<script src="{{ '/assets/js/highlight.js' | relative_url }}"></script>
<script>hljs.highlightAll();</script>

<h1>{{ page.title }}</h1>
<p><i>Published on {{ page.date | date: "%B %d, %Y" }}</i></p>
<hr>
<!-- {{ content }} -->

<!-- ❤️ Like Button -->
<div class="like-container">
    <button class="like-button" data-post-id="{% raw %}{{ page.url | slugify }}{% endraw %}">
        ❤️ <span class="like-count">0</span>
    </button>
</div>

<!-- Include Like Button Script -->
<script src="{{ '/assets/js/like.js' | relative_url }}"></script>

{{ content }}
